body {
    background-color: darkblue;
    font-family: system-ui;
}
.top-banner {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
input,button {
    
}
.heading {
    color: white;
}