body {
    background-color: darkblue;
    font-family: system-ui;
}
.top-banner {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}
.heading {
  color: white;
  margin-bottom: 50px;
}
input {
    font-size: 3rem;
    height: 60px;
    background-color: inherit;
    outline: none;
    border: none;
    width: 350px;
    color: white;
    border-bottom: 1px solid;
}
/* input::placeholder{
  color: currentColor;
} */
button{
  font-size: 1rem;
  font-weight: 900;
  background-color: darkviolet;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: white;
}
button:hover{
  background-color: firebrick;
}